{{ define "headContact" }}
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 left-item">
        <ul>
          <li><i class="fas fa-envelope-square"></i>&nbsp;<a href="/contact">contact@northtechnology.com</a> </li>
          <li class="d-none d-sm-block"><i class="fas fa-phone-square"></i> +123 987 887 765</li>
        </ul>
      </div>
      <div class="col-lg-5 d-none d-lg-block right-item">
        <ul>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
         <!-- <li> <a><i class="fab fa-pinterest-p"></i></a></li>
          <li><a><i class="fab fa-twitter"></i></a></li>
          <li> <a><i class="fab fa-facebook-f"></i></a></li> -->
        </ul>
      </div>
    </div>

  </div>
</div>
{{ end }}