{{ define "script" }}
<script src="/Site/assets/js/jquery-3.2.1.min.js"></script>
<script src="/Site/assets/js/popper.min.js"></script>
<script src="/Site/assets/js/bootstrap.min.js"></script>
<script src="/Site/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="/Site/assets/plugins/scroll-nav/js/jquery.easing.min.js"></script>
<script src="/Site/assets/js/iziToast.min.js"></script>
<script src="/Site/assets/js/script.js"></script>
<script src="/Site/assets/summernote/summernote-bs4.min.js"></script>
{{ end }}