{{ define "content" }}
<h1>
  Makale Düzenle
  <a href="/admin/" class="btn btn-outline-primary float-right" ><li class="fa fa-arrow-left mr-2"></li>Yazılara Geri Dön</a>
</h1>
<hr>
<form action="/admin/update-article/{{.article.ID}}" method="post"enctype="multipart/form-data">
  <div class="form-group">
    <label>Başlık</label>
    <input type="text" name="article-title" class="form-control" value="{{.article.Title}}">
  </div>

  <div class="form-group">
    <label>Açıklama</label>
    <textarea name="article-description" id="article-description" cols="30" rows="2" class="form-control" maxlength="150">{{.article.Description}}</textarea>
  </div>

  <div class="form-group">
    <label>Kategori</label>
    <select name="article-category" id="article-category" class="form-control" value="{{.article.CategoryID}}">
      {{$categoryid := .article.CategoryID}}
      {{range $index,$value := .categories}}
      <option {{if eq $value.ID $categoryid }} selected {{end}} value="{{$value.ID}}">{{$value.Name}}</option>
      {{end}}
    </select>
  </div>

  <div class="form-group">
    <div style="display: block">
      <label>Görsel</label>
    </div><br/>
      <div>
        <img width="90px" src="{{.article.PictureUrl}}" class="my-2" id="current_image">
        <input type="file" name="article-picture" class="form-control-file" id="article-picture">
        <input type="hidden" name="is_selected" id="is_selected" value="">
      </div>
  </div>

  <div class="form-group">
    <label>İçerik</label>
    <textarea name="article-content" id="summernote" cols="30" rows="10" class="form-control">{{.article.Content}}</textarea>
  </div>

  <button type="submit" class="btn btn-outline-success w-100 my-3">Kaydet</button>
</form>

<script>
  document.getElementById("article-picture").addEventListener("change",function (){
    document.getElementById("is_selected").setAttribute("value","1")
    document.getElementById("current_image").style.display = "none"
  })
</script>
{{ end }}