{{ define "content" }}
<h1>
    Kategori Ekle
    <a href="/admin/categories" class="btn btn-outline-primary float-right" ><li class="fa fa-arrow-left mr-2"></li>Kategorilere Geri Dön</a>
</h1>
<hr>
<form action="/admin/add-category" method="post"enctype="multipart/form-data">
    <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" name="category-name" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-success w-100 my-3">Kaydet</button>
</form>
{{ end }}