{{ define "contact" }}
<!doctype html>
<html lang="en">

{{ template "head" }}

<body>

<!--###################### Navigation Starts Here ############################-->

<div class="header-container">
  {{ template "headContact" }}
  {{ template "navbar" .}}
</div>
<!--###################### Slider Starts Here ############################-->

<div class="page-title titl-2">
  <div class="container">
    <div class="row">
      <h2>Contact Us</h2>
      <p> Home <i class="fas fa-angle-double-right"></i> Contact US </p>
    </div>
  </div>
</div>

<form action="/contact_us" method="post" enctype="multipart/form-data">
  <div class="row contact-rooo no-margin">
    <div class="container">
      <div class="row">
        <div style="padding:20px" class="col-sm-7">
          <h2 style="font-size:18px">Contact Form</h2>
          <div class="row cont-row">
            <div class="col-sm-3"><label>Enter Name </label><span>:</span></div>
            <div class="col-sm-8">
              <input type="text" placeholder="Enter Name" name="name" class="form-control input-sm">
            </div>
          </div>
          <div class="row cont-row">
            <div class="col-sm-3"><label>Email Address </label><span>:</span></div>
            <div class="col-sm-8">
              <input type="text" name="email" placeholder="Enter Email Address" class="form-control input-sm">
            </div>
          </div>
          <div class="row cont-row">
            <div class="col-sm-3"><label>Mobile Number</label><span>:</span></div>
            <div class="col-sm-8">
              <input type="text" name="phone" placeholder="Enter Mobile Number" class="form-control input-sm">
            </div>
          </div>
          <div class="row cont-row">
            <div class="col-sm-3"><label>Enter Message</label><span>:</span></div>
            <div class="col-sm-8">
              <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm" name="message"></textarea>
            </div>
          </div>
          <div style="margin-top:10px;" class="row">
            <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
            <div class="col-sm-8">
              <button type="submit" class="btn btn-outline-success w-100 my-3">Send Message</button>
            </div>
          </div>
          <span class="label label-danger" style="color: red">** If you leave any of the above boxes blank, your message
            may not be delivered. Please make sure to fill in all the boxes.</span>
        </div>
      </div>
    </div>
  </div>
</form>
<!--###################### Key Features Starts Here ##########################-->
{{ template "keyfeature" .}}

<!--###################### Footer Starts Here ############################-->
{{ template "footer" }}

</body>
{{ template "script" }}
{{ template "alert" .Alert }}
</html>
{{ end }}
