{{ define "content" }}
<h1>
    Cevaplanan Mesajlar
    <a href="/admin/contacts" class="btn btn-outline-primary float-right" ><li class="fa fa-reply"></li> Yanıtlanmamış Mesajlara Dön</a>
</h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">İsim</th>
            <th scope="col">Mail</th>
            <th scope="col">Telefon</th>
            <th scope="col">Mesaj</th>
            <th scope="col">Eklenme Tarihi</th>
            <th scope="col">Cevaplanma Tarihi</th>
            <th scope="col">Cevaplanmadı Olarak İşaretle</th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $value := .contacts }}
        <tr>
            <th scope="row">{{$value.ID}}</th>
            <td>{{$value.Name}}</td>
            <td>{{$value.Email}}</td>
            <td>{{$value.Phone}}</td>
            <td>{{$value.Message}}</td>
            <td>{{getDate $value.CreatedAt}}</td>
            <td>{{getDate $value.UpdatedAt}}</td>
            <td>
                <a href="/admin/unreply-message/{{ $value.ID }}" class="btn btn-outline-warning"><li class="fa fa-check"></li></a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{ end }}